<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/style.css">
    <title>Document</title>
</head>

<body>
    <!-- Template Quiz -->
    <div id="quiz">
        <form method="POST" id="quizForm">
            <% for (let question of questions) { %>
            <div class="question">
                <label><%= question.question %></label>
                <div class="answers">
                    <% for (let answer of question.dataValues.answers) { %>
                    <% console.log(answer.dataValues.id) %>
                    <label class="answers-item" for="<%= answer.dataValues.id %>">
                        <input type="radio" class="reponse" name="question_<%= question.id %>"
                            id="<%= answer.dataValues.id %>" value="<%= answer.dataValues.id %>">
                        <%= answer.name %>
                    </label>
                    <% } %>
                </div>
            </div>
            <% } %>
            <button type="submit">envoyer</button>
        </form>
        <!-- Template Quiz -->



    </div>
    <script src="/assets/js/script.js"></script>
</body>

</html>